
body {
  font-family: helvetica, sans-serif;
  font-size: 150%;
  padding: 0;
  margin: 0;
}

select {
  width: 262px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-left: 20px;
}

input {
  width: 250px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-left: 20px;
}

label {
  position: relative;
  top: 4px;
  width: 160px;
  float: left;
}

hr {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 4%;
  margin-right: 4%;
}

#header {
  width: 100%;
  background-color: #EEEEEE;
  padding-bottom: 5px;
  height: 90px;
}

#logo {
  float: left;
  font-size: 120%;
  margin-left: 4%;
}

#submitButton {
  width: 130px;
  margin-right: 4%;
  margin-top: 30px;
  float: right;
}

.wrapper {
  margin-left: 4%;
}

.formElement {
  margin-bottom: 10px;
}

.selector {
  margin-top: 30px;
}

.hide {
  display: none;
}

.selectedProductText {
  width: 450px;
  font-size: 80%;
}
