
body {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 4%;
  margin-right: 55px;
}

p {
  margin-top: 0;
}

/* Display selected product attributes */
p.bookInfo, p.dvdInfo, p.furnitureInfo {
  display: none;
}

.Dvd p.dvdInfo {
  display: block;
}

.Furniture p.furnitureInfo {
  display: block;
}

.Book p.bookInfo {
  display: block;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

#header {
  width: 100%;
  background-color: #EEEEEE;
  padding-bottom: 5px;
  height: 90px;
  font-family: helvetica, sans-serif;
}

#logo {
  float: left;
  font-size: 185%;
  margin-left: 4%;
  margin-top: 30px;
}

#submitButton {
  width: 130px;
  margin-right: 55px;
  margin-top: 30px;
  float: right;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-left: 20px;
}

/* New product display styles */
.square {
  height: 170px;
  width: 260px;
  margin: 20px 0 20px 4%;
  float: left;
  border: 3px black solid;
}

.checkboxInput {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}

.productInfo {
  text-align: center;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
